h1, p, body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 24px 36px 24px 36px;
}

#nav-buttons {
    display: flex;
    align-items: center;
    gap: 24px;
}

#nav-buttons > * {
    border: 0;
    height: 32px;
    width: 96px;
    background-color: beige;
    border-radius: 36px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-img {
    position: relative;
}

#title-page {
    padding-left: 24px;
    align-self: flex-start;
    position: absolute;
    bottom: 30%;
    color: white;
    background-color: rgb(0, 0, 0, 0.3);
    width: 100%;   
    height: 30%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

#title-buttons > *{
    border: 0;
    height: 32px;
    width: 96px;
    background-color: aquamarine;
    border-radius: 12px;
}

#title-buttons {
    display: flex;
    gap: 24px;
}

.menu-item {
    display: flex;
    justify-content: space-around;
}
